footer{

    h1{
      font-size: 18px;
      margin-top: 0;
    }
    background-color: var(--grey);
    color: white;
    max-width: 1440px;
    padding:25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
  a{
    text-decoration: none;
    color: white;
  }
  
  
    
  }
  


  
  .footer__content{
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    font-size: 16px;


    &_icon i{
      margin-right: 10px;

    }
  }

#indiv_footer{
 margin-top: 0;
}