@import'./mixins';

/*Header*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 63px;
    
    
 
    
}


/*MAIN*/
/*TOP_PAGE*/

.top_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__button{
    margin: 0;
  padding: 0;
  }
 


  &_button{
    
    color: white;
    background: var(--button-gradient);
    border-radius: 25px;
    height: 50px;
    width: 218px;
    font-size: 16px;
    margin: 40px;
    justify-content: center;
    transition-duration: 250ms;
    cursor: pointer;
   

    &:hover{
      transform: scale(1.20);
    }
  }
}

#top_page__button{
  background: var(--lightgrey);
  width: 100%;
  text-align: center;
  justify-content: center;
}

#accroche{
 
  background-color: var(--lightgrey);
  width: 100%;

  p{
    font-size: 18px;
  }
}

#geoloc{
  color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey2);
  width: 100%;
  justify-content: center;

  &_input{
    background-color: var(--grey2);
  }
 

  input{
    width: 20%;
    border: none;
    height: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
 
   
  }
 
  
}

#geoloc i.fa-location-dot{
  margin-right: 5px;
}

/*FONCTIONNEMENT*/

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    
    &__btn_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    &__btn{
      
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      height: 72px;
      background-color: var(--lightgrey);
      border-radius: 20px;
      border: none;
      cursor: pointer;
    
      
      
      
  
      &_order{
        position: relative;
        left: -20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        background-color: var(--violet);
        border-radius: 20px;
        color: white;
        font-weight: 500;
        font-size: 15px;
       
      }
  
    &_txt{
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding-left: 30px;
    }
    }
    
  }
  
  .fa-list-ul, .fa-mobile-screen-button{
    color: var(--grey-tint);
    font-size: 24px;
  }
  
  .fa-store{
    color: var(--violet);
    font-size: 24px;
  }

  .fa-heart{
    font-size: 20px;
  }

  