@import './root';
@import './mixins';

.image__entete{
    height: 275px;
    width: 100%;
    object-fit: cover;
  }

.indiv_main{
    background: white;
}

  .header_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
   
  
}

.header_page i{
    font-size: 30px;
    text-shadow:  0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 10px;
    top:27px;

    
    

}

main{
    background: var(--lightgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}




.menu_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

    &h1{
        font-size: 28px;
    }

    & i {
          font-size: 22px;

    }
}

.menu{
    border-top-left-radius: 40px; 
    border-top-right-radius: 40px;
    position: relative;
    top : -40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--lightgrey);
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 40px;
    

    &_sub{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    &_sub_title{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        border-bottom: 3px solid var(--turquoise);
        width: 40px;
        margin-left: 15px;
      
    }


}


.button__plat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: white;
    border: none;
    @include boxshadow();
    border-radius: 15.043px;
    width: 96%;
    margin-left: 10px;
    margin-right: 20px;
    padding-right:0;
    padding-left: 10px;
    
  
  

    & h2{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 21px;
        margin: 0;
   }
   & h3{
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    

   }

   &_txt{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 10px;
   }
    
   }
   
   .button__visible{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     margin: 0;
     padding: 0;
    }
   
   .button__price_anim{
     font-weight: 700;
     font-size: 16px;
    
  

   }
   
   .button__invisible{
    
     font-size: 18px;
     color: white;
     background-color: var(--turquoise);
     border-top-right-radius: 15.043px; ;
     border-bottom-right-radius: 15.043px; 
     width: 59px;
     height: 69px;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
    
   }

   .button__invisible_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   }

   

   .bouton_resto_indiv{
    transform: translateY(-40px);
   }
   
   




