@import 'root.scss';

.top_page_button{
    &:hover{
        transform: scale(1.20);
        opacity: 85%;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

    }
}



/*Coeur*/



.anim_heart{
    display: none;

}

.depop_heart{
    &:hover{
        display: none;
    }
    &:hover + .anim_heart{
        display: inline-block;
    }
}


.menu_sub{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.entrées{
    animation: fadeIn 1s ease 0.5s forwards;
}

.plats{
    animation: fadeIn 1s ease 1s forwards ;
}

.desserts{
    animation: fadeIn 1s ease 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}