@import'mixins.scss';

/*Header*/

header{
    display: flex;
    justify-content: center;
    text-align: center;
 
    
}


/*MAIN*/
/*TOP_PAGE*/

.top_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 


  &_button{
    
    color: white;
    background: var(--button-gradient);
    border-radius: 25px;
    height: 50px;
    width: 218px;
    font-size: 16px;
    margin: 40px;
    justify-content: center;
    transition-duration: 250ms;
   

    &:hover{
      transform: scale(1.20);
    }
  }
}

#top_page__button{
  background: var(--lightgrey);
  width: 100%;
}

#accroche{
  padding: 0px 50px 0px 50px;
  background-color: var(--lightgrey);
  width: 100%;
}

#geoloc{
  color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey2);
  width: 100%;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
 
  
}

#geoloc i.fa-location-dot{
  margin-right: 5px;
}

/*FONCTIONNEMENT*/

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    
    &__btn_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    &__btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 322px;
      height: 72px;
      background-color: var(--lightgrey);
      border-radius: 20px;
      border: none;
      
      
      
  
      &_order{
        position: relative;
        left: -20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        background-color: var(--violet);
        border-radius: 20px;
        color: white;
        font-weight: 500;
        font-size: 15px;
       
      }
  
    &_txt{
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding-left: 30px;
    }
    }
    
  }
  
  .fa-list-ul, .fa-mobile-screen-button{
    color: var(--grey-tint);
    font-size: 24px;
  }
  
  .fa-store{
    color: var(--violet);
    font-size: 24px;
  }

  