@media (min-width :1024px){

    .fonctionnement__btn{

        width: 30%;


        &_container{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
}
    .restaurant__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        

    }
    .restaurant__card{
    width: 45%;

   }

   footer{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    padding: 25px 30px 25px 30px;
    gap:30px;
}


  .footer__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  .menu{
    max-width: 1055px;
    margin: 0 auto;
 
   
  }

}


