@import 'root.scss';

.restaurant{
    background-color: var(--lightgrey);
    gap: 20px;
    margin-top: 20px;
    a{
      text-decoration: none;
      color: black;
 
      
    }
  
    &__container{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0px 17px 0px 17px;
      margin-bottom: 30px;
    }
  
    &__card{
      width: 100%;
      background-color: white;
      border-radius: 15px;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: scale(1.05);
      }

      &_image{
        position: relative;
      }
     
  
     &_image img{
      width: 100%;
      height: 183px;
      object-fit: cover;
      border-top-left-radius:15px; ;
      border-top-right-radius:15px ;
     }
    &_content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left:15px;
      margin-right:15px;
    }
    &_icon{
      font-size: 40px;
     
     
    }
    }
  }

  .news_btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    top:10px;
    right: 10px;
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    color: var(--green_font);
    background: var(--green);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  }

  .anim_heart{
    height: 37px;
  }