@import 'root.scss';
@import 'mixins.scss';

.image__entete{
    height: 275px;
    width: 100%;
    object-fit: cover;
  }

  .header_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  
}

.header_page i{
    font-size: 30px;
    position: absolute;
    left: 17px;
    top: 20px;
    

}

.menu__card{
    background: var(--lightgrey);
}