@import 'root.scss';
@import 'titles.scss';
@import 'homepage.scss';
@import 'mixins.scss';
@import 'animation.scss';
@import 'restaurant.scss';
@import 'footer.scss';
@import 'restaurant_indiv.scss';
@import 'loader.scss';
@import 'mediaquerries.scss';



