@charset "UTF-8";
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --violet: #9356DC;
  --rose: #FF79DA;
  --turquoise: #99e2d0;
  --grey: #353535;
  --lightgrey: #F6F6F6;
  --grey-tint: #7e7e7e;
  --grey2: #EAEAEA;
  --green: #99E2D0;
  --green_font: #008766;
  --button-gradient: linear-gradient(var(--violet)0%, var(--rose)100%);
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 30px;
}

h2 {
  margin-left: 20px;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.top_page_button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.restaurant__card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.fonctionnement__btn {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 63px;
}

/*MAIN*/
/*TOP_PAGE*/
.top_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top_page__button {
  margin: 0;
  padding: 0;
}
.top_page_button {
  color: white;
  background: var(--button-gradient);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  font-size: 16px;
  margin: 40px;
  justify-content: center;
  transition-duration: 250ms;
  cursor: pointer;
}
.top_page_button:hover {
  transform: scale(1.2);
}

#top_page__button {
  background: var(--lightgrey);
  width: 100%;
  text-align: center;
  justify-content: center;
}

#accroche {
  background-color: var(--lightgrey);
  width: 100%;
}
#accroche p {
  font-size: 18px;
}

#geoloc {
  color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--grey2);
  width: 100%;
  justify-content: center;
}
#geoloc input {
  width: 20%;
  border: none;
  height: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#geoloc i.fa-location-dot {
  margin-right: 5px;
}

/*FONCTIONNEMENT*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
}
.fonctionnement__btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fonctionnement__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 72px;
  background-color: var(--lightgrey);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.fonctionnement__btn_order {
  position: relative;
  left: -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background-color: var(--violet);
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.fonctionnement__btn_txt {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding-left: 30px;
}

.fa-list-ul, .fa-mobile-screen-button {
  color: var(--grey-tint);
  font-size: 24px;
}

.fa-store {
  color: var(--violet);
  font-size: 24px;
}

.fa-heart {
  font-size: 20px;
}

.top_page_button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.restaurant__card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.fonctionnement__btn {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --violet: #9356DC;
  --rose: #FF79DA;
  --turquoise: #99e2d0;
  --grey: #353535;
  --lightgrey: #F6F6F6;
  --grey-tint: #7e7e7e;
  --grey2: #EAEAEA;
  --green: #99E2D0;
  --green_font: #008766;
  --button-gradient: linear-gradient(var(--violet)0%, var(--rose)100%);
}

.top_page_button:hover {
  transform: scale(1.2);
  opacity: 85%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*Coeur*/
.restaurant__card_icon {
  position: relative;
  margin: 10px;
  width: 25px;
  height: 25px;
}
.restaurant__card_icon .depop_heart {
  position: absolute;
  transition: opacity 1s ease;
}
.restaurant__card_icon .anim_heart {
  display: inline-block;
  position: absolute;
  transition: opacity 1s ease;
  opacity: 0;
  background: var(--button-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__card_icon:hover .anim_heart {
  opacity: 1;
}

.menu_sub {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.entrées {
  animation: fadeIn 1s ease 0.5s forwards;
}

.plats {
  animation: fadeIn 1s ease 1s forwards;
}

.desserts {
  animation: fadeIn 1s ease 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button__plat {
  overflow: hidden;
}

.button__invisible_container {
  transform: translateX(55%);
  transition: 0.5s;
}

.button__visible:hover + .button__invisible_container {
  transform: translateX(0%);
  transition: 0.5s;
}

.fonctionnement__btn:hover {
  background: #EBDEF0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --violet: #9356DC;
  --rose: #FF79DA;
  --turquoise: #99e2d0;
  --grey: #353535;
  --lightgrey: #F6F6F6;
  --grey-tint: #7e7e7e;
  --grey2: #EAEAEA;
  --green: #99E2D0;
  --green_font: #008766;
  --button-gradient: linear-gradient(var(--violet)0%, var(--rose)100%);
}

.restaurant {
  background-color: var(--lightgrey);
  gap: 20px;
  margin-top: 20px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 17px 0px 17px;
  margin-bottom: 30px;
}
.restaurant__card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.restaurant__card:hover {
  transform: scale(1.05);
}
.restaurant__card_image {
  position: relative;
}
.restaurant__card_image img {
  width: 100%;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
.restaurant__card_content p {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 17px;
}
.restaurant__card_icon {
  font-size: 40px;
}

.news_btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  color: var(--green_font);
  background: var(--green);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.anim_heart {
  height: 37px;
}

footer {
  background-color: var(--grey);
  color: white;
  max-width: 1440px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer h1 {
  font-size: 18px;
  margin-top: 0;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  font-size: 16px;
}
.footer__content_icon i {
  margin-right: 10px;
}

#indiv_footer {
  margin-top: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --violet: #9356DC;
  --rose: #FF79DA;
  --turquoise: #99e2d0;
  --grey: #353535;
  --lightgrey: #F6F6F6;
  --grey-tint: #7e7e7e;
  --grey2: #EAEAEA;
  --green: #99E2D0;
  --green_font: #008766;
  --button-gradient: linear-gradient(var(--violet)0%, var(--rose)100%);
}

.top_page_button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.restaurant__card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.fonctionnement__btn {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.image__entete {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.indiv_main {
  background: white;
}

.header_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_page i {
  font-size: 30px;
  text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 10px;
  top: 27px;
}

main {
  background: var(--lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu_title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu_titleh1 {
  font-size: 28px;
}
.menu_titleh2 {
  font-size: 16px;
}
.menu_title i {
  font-size: 22px;
}

.menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--lightgrey);
  gap: 40px;
  margin-top: -40px;
}
.menu_sub {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 10px;
}
.menu_sub_title {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px solid var(--turquoise);
  width: 40px;
  margin-left: 15px;
  font-size: 16px;
}

#menu_sub_title {
  font-size: 16px;
}

.button__plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15.043px;
  width: 96%;
  margin-left: 10px;
  margin-right: 20px;
  padding-right: 0;
  padding-left: 10px;
  box-sizing: border-box;
}
.button__plat h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 21px;
  margin: 0;
}
.button__plat h3 {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.button__plat_txt {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 10px;
}

.button__visible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.button__price_anim {
  font-weight: 700;
  font-size: 16px;
}

.button__invisible {
  font-size: 18px;
  color: white;
  background-color: var(--turquoise);
  border-top-right-radius: 15.043px;
  border-bottom-right-radius: 15.043px;
  width: 59px;
  height: 69px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button__invisible_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.button__invisible_container i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --violet: #9356DC;
  --rose: #FF79DA;
  --turquoise: #99e2d0;
  --grey: #353535;
  --lightgrey: #F6F6F6;
  --grey-tint: #7e7e7e;
  --grey2: #EAEAEA;
  --green: #99E2D0;
  --green_font: #008766;
  --button-gradient: linear-gradient(var(--violet)0%, var(--rose)100%);
}

.load_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideDiv 3s forwards;
  z-index: 3;
}

@keyframes hideDiv {
  to {
    display: none;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--rose);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--violet);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1024px) {
  .fonctionnement__btn {
    width: 30%;
  }
  .fonctionnement__btn_container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .restaurant__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
  .restaurant__card {
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    padding: 25px 30px 25px 30px;
    gap: 30px;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    gap: 30px;
  }
  .menu {
    max-width: 1055px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
  }
  .menu_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu_sub {
    width: 65%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */